.Overview-container {
  padding: 40px 40px 32px 40px;
}

.overview-title {
  font-family: Public Sans;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  color: #201f24;
  margin-bottom: 42px;
}

.balanse-wrapper {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin-bottom: 32px;
}

.overview-section {
  background-color: #201f24;
  border-radius: 12px;
}

.twos-section {
  background-color: #ffffff;

  .twos-section-title {
    color: #696868;
  }

  .twos-section-number {
    color: #201f24;
  }
}

.overview-item {
  padding: 24px 147px 24px 24px;

  h3 {
    color: #ffffff;
    font-family: Public Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    margin-bottom: 12px;
  }

  p {
    font-family: Public Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #ffffff;
  }
}

.overview-cards-grid {
  display: grid;
  grid-template-columns: (1fr 1fr);
  gap: 24px;
}

.card {
  background-color: #fff;
  padding: 32px;
  border-radius: 12px;
  h3 {
    font-family: Public Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #201f24;
  }
}

.over-two-card {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.nav-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .NavLink {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #696868;
    display: flex;
    align-items: center;
    gap: 12px;
    cursor: pointer;

    &:hover {
      color: #201f24;

      img {
        filter: brightness(0) saturate(100%);
      }
    }
  }
}

.pots-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  padding-top: 20px;
}

.total-sav {
  border-radius: 12px;
  background-color: #f8f4f0;
}

.total-sav-wrap {
  padding: 20px 89px 20px 16px;
  display: flex;
  align-items: center;
  gap: 16px;

  p {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #696868;
    margin-bottom: 11px;
  }

  h4 {
    font-family: Public Sans;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0px;
    color: #201f24;
  }
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.chart {
  h3 {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #696868;
  }

  h4 {
    font-family: Public Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #201f24;
  }
}

.over-tran-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 32px;
}

.transactions-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-grey-100, #f2f2f2);

  span {
    h3 {
      font-family: Public Sans;
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0px;
      text-align: right;
      margin-bottom: 8px;
    }

    h4 {
      font-family: Public Sans;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      letter-spacing: 0px;
      color: #696868;
    }
  }
}

.transactions-nav:last-child {
  border-bottom: none;
}

.transac-span {
  display: flex;
  gap: 16px;
  align-items: center;

  img {
    border-radius: 50%;
  }

  p {
    font-family: Public Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #201f24;
  }
}

.apexchart {
  padding-top: 51px;
}

.bill-summary {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.paid-bills {
  display: flex;
  justify-content: space-between;
  padding: 20px 16px 20px 16px;
  background-color: #f8f4f0;
  border-left: 4px solid var(--color-green, #277c78);
  border-radius: 8px;

  .span {
    font-family: Public Sans;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #696868;
  }

  span {
    font-family: Public Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #201f24;
  }
}

.paid-bills:nth-child(2) {
  border-left: 4px solid var(--color-yellow, #f2cdac);
}

.paid-bills:nth-child(3) {
  border-left: 4px solid var(--color-cyan, #82c9d7);
}
