*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Public Sans", sans-serif;
  background-color: $beige-100;
}

ul,
ol {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: flex;
  object-fit: cover;
}

.layout {
  display: flex;
}

main {
  flex-grow: 1;
}
